body
{
  font-family: sans;
}
.menu
{
  position: relative;
  background-color: black;
  padding: 20px;
}
.menuItem
{
  font-size: 2em;
  color: white;
  padding: 20px;
  text-decoration: none !important;
  transition: all .25s;
}
.menuItem:hover
{
  transition: all .25s;
  color: black !important;
  background-color: #808080;
  text-decoration: none !important;
}
.menuItem:active
{
  color: white;
  text-decoration: none !important;
}
.menuItem:visited
{
  color: white;
  text-decoration: none !important;
}
.item
{
  position: relative;
}
.picture
{

}
.title
{
  text-align: center;
  font-size: 5em;
}
.quote
{
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 200%;
  font-size: 2em;
  font-weight: bold;
}
#top
{
  background: url(../images/money.jpeg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
#saving
{
  background: url(../images/saving.jpeg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
#spending
{
  background: url(../images/spending.jpeg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
#quotes
{

}
